@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




.About{
    padding-top: 8vh;
    margin-top: 10vh;
    font-family: 'Sixtyfour', sans-serif;
    
    margin-left: 78vh;
    font-size: 3vh;
    color: #FFD0D0;
  
  
  
    
}
.containerAbout{
    display: flex;
}

@media (max-width: 768px){
    .About{
        margin-left: 11vh;
        font-size: 2.5vh;
        padding-top: 4vh;
        margin-top: 25vh;
       }
}

/* Main contents.............................. */

.TextAbout{
    margin-top: 10vh;
    width: 80vh;
    flex: 1;
    margin-right: 10vh;
    
    
    margin-left: 10vh;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #FFD0D0;
 
}



.AboutImg img{
    border-radius: 50%;
    height: 60vh;
    width: 60vh;
    flex: 1;
    margin-right: 25vh;
    margin-top: 6vh;
  
  
}

.AboutImg img:hover{
  
    transform: translateY(-10px) 
}
/* FOr small screen.............................................................. */
@media (max-width: 768px)
{
    .containerAbout{
        flex-direction: column;
    }
    .AboutImg img{
        height: 30vh;
        width: 30vh;
        margin-left: 7vh;
        
    }

    .TextAbout{
        font-size: 1vh;
        width: fit-content;
        margin-right: 3vh;
        margin-left: 5vh;
    }
}


/* Ipad pro........................................................... */
/* @media (max-device-width : 820px) {

    .containerAbout{
        flex-direction: column;
    }
    .AboutImg img{
        height: 30vh;
        width: 30vh;
        margin-left: 7vh;
        
    }

    .TextAbout{
        font-size: 1vh;
        width: fit-content;
        margin-right: 3vh;
        margin-left: 5vh;
    }

} */

 /* Ipad responsive .....................................................*/

 @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
 {
    .AboutImg img{
        margin-left: 30vw;
    }
    .TextAbout{
        margin-left: 15vw;
        margin-right: 10vw;
    }

    .About{
        padding-left: 22vw;
    }




 }


 
 @media only screen 
 and (min-device-width : 768px) 
 /* and (max-device-width : 1024px) 
 and (orientation : landscape) */
 {
    /* .containerAbout{
        flex-direction: column;
    } */
    .AboutImg img{
        
        margin-left: 7vh;
        
    }

    /* .TextAbout{
        
       
       
        margin-left: 15vw;
    } */
    
.About{
    margin-left: 42vw;
}
 }