
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');



.Frontdiv{
    z-index: 0;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    align-items: center;

    
}

.img2{
    
    margin-top: 15vh;
    margin-left: 62vh;
    height: 50vh;
}


.WelcomeText{
 
    color: #9E00FF;
    padding-left: 49vh;
    font-family: 'Sixtyfour', sans-serif;
         overflow: hidden; /* Ensures the content is not revealed until the animation */
         border-right: .15em solid rgb(0, 1, 57); /* The typwriter cursor */
         white-space: nowrap; /* Keeps the content on a single line */
         margin: 5 auto; /* Gives that scrolling effect as the typing happens */
         letter-spacing: .15em; /* Adjust as needed */
         animation: 
           typing 3.5s steps(40, end),
           blink-caret .75s step-end infinite;

       }
       
       /* The typing effect */
       @keyframes typing {
         from { width: 0vh }
         to { width: 90vh }
       }
       
       /* The typewriter cursor effect */
       @keyframes blink-caret {
         from, to { border-color: transparent }
         0% { border-color:#FFD0D0 ; }
       }

/* ..........................................................For small screens */

@media (max-width: 768px) {
    .Frontdiv {
        /* Adjust styles for smaller screens */
        margin-top: 1vh;
        margin-left: 1vh;
        margin-right: 3vh;
        

    }

    .img2 {
        /* Adjust styles for smaller screens */
        margin-top: 33vh;
        margin-left: 40vh;
        height: 100vh;
     
    }
    .WelcomeText{
     padding-left:28vh ;
     font-size: 3vh;
    }

    @keyframes typing {
        from { width: 0vh }
        to { width: 135vh }
      }
      
    
      }




