@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



.HowHeading{
    margin-top: 20vh;
    font-family: 'Sixtyfour', sans-serif;
    
    margin-left: 78vh;
    font-size: 3vh;
    color: #FFD0D0;
}


.HowComponents{
    display: flex;
}

@media (max-width: 768px){
    .HowHeading{
        margin-left: 9vh;
        font-size: 2.5vh;
        margin-top: 10vh;
       }
}

/* Main contents.............................. */

.HowText{
    margin-top: 9vh;
    width: 80vh;
    flex: 1;
    margin-right: 10vh;
    font-size: 2.5vh;
    font-weight: 2vh;
    
    margin-left: 10vh;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #FFD0D0;
  line-height: 5vh;
}



.HowImg img{
  
    height: 55vh;
    width: 55vh;
    flex: 1;
  margin-left: 15vh;
    margin-top: 10vh;
  
  
}

.HowImg img:hover{
  
    transform: translateY(-10px) 
}
/* FOr small screen.............................................................. */
@media (max-width: 768px)
{
    .HowComponents{
        flex-direction: column;
    }
    .HowImg img{
        height: 30vh;
        width: 30vh;
        margin-left: 7vh;
        
    }

    .HowText{
        font-size: 1vh;
        width: fit-content;
        margin-right: 3vh;
        margin-left: 3vh;
        margin-top: 5vh;
        line-height: 2.5vh;
    }
}


 /* Ipad responsive .....................................................*/

 /* @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
 {
    .HowImg img{
        margin-left: 29vw;
    }

    .HowHeading{
        margin-left: 32vw;
    }

    .HowText{
        font-size: 1.6vh;
        margin-left: 10vh;
    }




 } */
