
  @import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');



.img1{
    margin-top: 0vh;
    margin-left: 10vh;
    height: 10vh;
    width: 10vh;
    /* padding-bottom: 2vh; */
    border-radius: 50%;

    
    }

    .navbar{
    
        /* background-color: rgb(199, 0, 0); */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5vh;
        padding-right: 1.5vh;
        color: #FFD0D0;
        font-size: 1rem;
     /* position: fixed; */

    }

    
    .navbar ul{
        list-style: none;
        display: flex;
        gap: 1.8vh;
        margin-top: 2vh;
        margin-left: 80vh;

    }

    .navbar a{
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
      /* padding-top: .25rem; */
      margin-left: 1.5vh;
      padding-right: 1.5vh;
      padding-bottom: .75vh;
      margin-bottom: .75vh;
      font-family: 'Sixtyfour', sans-serif;

     
    }

    .navbar li.active{
        background-color:#FFD0D0;
        border-radius: 1.5em;
        color:#9E00FF;
        
    }

    .navbar li:hover{
        background-color:#9E00FF ;
        border-radius: 1.5em;
        color: #FFD0D0;
    }


    @media (max-width: 768px) {
      

        .img1{
            height: 7vh;
            width: 7vh;
            margin-left: 1vh;
            margin-top: 2vh;


        }
        .navbar ul {
            font-size: 0.8vh;
            /* margin-right: 5.4vh;  */
            margin-left: 0vh;
            gap: 1vh;
            margin-top: 2.5vh;
         

        }
        
  
      
    }